################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug
/obj/Release
/bin/app.publish
/bin/Release/app.publish
/bin/RapChessCs.application
/bin/RapChessCs.exe.config
/bin/RapChessCs.exe.manifest
/bin/RapChessCs.pdb
